li.dev-item {
    background: #fff;
    box-shadow: 3px 4px 3px 2px #ccc;
    border-radius: 2px;
    padding: 20px;
    background-image: linear-gradient(94deg, #fff 90%, #ddd);
}

li.dev-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.dev-item header .user-info {
    margin-left: 10px;
}

.user-info strong {
    display: block;
    font-size: 16px;
    color: #333;
}

.user-info span {
    font-size: 13px;
    color: #999;
    margin-top: 2px;
}

li.dev-item p{
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}



button {
    width: auto;
    border: 0;
    margin: 0 5px ;
    border-radius: 2px;
    padding: 5px 5px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    cursor:pointer;
    transition: background 0.5s;
}

.action {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 0;
}

.visit{
    box-shadow: 2px 2px 3px 2px #4c7947;
    transition: ease 0.5s;
    background: #1d9912;
}
.visit:hover{
    box-shadow: 5px 5px 3px 2px #4c7947;
    transition: ease 0.5s;
    background: #2db820;
}

.update{
    box-shadow: 2px 2px 3px 2px #624468;
    transition: ease 0.5s;
    background: #6931ca
}
.update:hover{
    box-shadow: 5px 5px 3px 2px #624468;
    transition: ease 0.5s;
    background: #7d40e7;
}

.delete{
    box-shadow: 2px 2px 3px 2px #804747;
    transition: ease 0.5s;
    background: #ca3131;
}
.delete:hover{
    box-shadow: 5px 5px 3px 2px #804747;
    transition: ease 0.5s;
    background: #e74040;
}