.Footer{
    display:flex;
    font-size: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    min-height: 8vh;
    background-color: #6931ca;
    color: #fff;
}
.Footer ul{
    list-style: none;
    margin: 1% 2%;
}

.Footer ul li{
    list-style: none;
    margin: 15% 15%;
}

.pulse:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.gh-icon{
    color: silver;
}
.gh-icon:hover{
    color: #fff;
}

.in-icon{
    background-color: #fff;
    color: #0077b5;
}
.in-icon:hover{
    color: #fff;
    background-color: #0077b5;
}

.tt-icon{
    color: #1da1f2;
}
.tt-icon:hover{
    color: #fff;
}

.heart-icon{
    color: red;
    animation:pulse 1s linear infinite alternate;
	transform-origin: center;
}
.heart-icon:hover{
    animation:pulse .5s linear infinite alternate;
}

.react-icon{
    color: #61dafb;
    animation:spin 4s linear infinite;
}
.react-icon:hover{
    animation:spin 2s linear infinite;
}

@keyframes spin { 
    to {
        transform: rotate(360deg)
    }
}

@keyframes pulse { 
    to {
        transform: scale(1.4);
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }